.container {
  height: 400px;
  width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: gray;
}

.bar {
  position: absolute;
  z-index: 1;
  right: 0;
  transform-origin: bottom left;
  width: 50%;
  margin-bottom: 26px;
}

.bar div {
  height: 5px;
  background-color: black;
}

.bar p {
  text-align: end;
  margin: 0;
}

button {
  margin: 1.5rem .5rem;
  padding: .25rem .5rem;
  background-color: orange;
  border: 1px solid black;
  font-weight: bold;
  font-size: 2rem;
}

.flex-center {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}